<div class="container">
  <% if users.any? %>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Full Name</th>
        </tr>
      </thead>
      <tbody>
        <% users.to_a.each.with_index(1) do |user, i| %>
          <tr>
            <th scope="row">
              <%= ((params[:page] || 1).to_i - 1) * pager.per_page + i %>
            </th>
            <td><%= "#{user.name} #{user.surname}" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p class="placeholder">There are no users yet.</p>
    <a href="/users/new">New user</a>
  <% end %>

  <%= pagination %>
</div>
